absl-py==2.1.0
art==6.2
asgiref==3.8.1
astunparse==1.6.3
beautifulsoup4==4.12.3
bs4==0.0.2
buildozer==1.5.0
cachetools==5.4.0
certifi==2024.6.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
defusedxml==0.8.0rc2
distlib==0.3.8
dj-rest-auth==6.0.0
Django==5.0.7
django-allauth==0.63.6
django-cors-headers==4.4.0
django-environ==0.11.2
django-oauth-toolkit==2.4.0
django-rest-framework-social-oauth2==1.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docutils==0.21.2
et-xmlfile==1.1.0
Faker==26.0.0
filelock==3.15.4
flatbuffers==24.3.25
gast==0.6.0
google-auth==2.32.0
google-pasta==0.2.0
googletrans==4.0.0rc1
grpcio==1.64.1
h11==0.9.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.7.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
jwcrypto==1.5.6
keras==3.4.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
libclang==18.1.1
libretranslatepy==2.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pandas==2.2.2
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
protobuf==4.25.3
psycopg2==2.9.9
ptyprocess==0.7.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.0
pycparser==2.22
pyfiglet==1.0.2
pygame==2.6.0
Pygments==2.18.0
PyJWT==2.8.0
pypiwin32==223
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.2
python3-openid==3.2.0
pytz==2024.1
pywin32==306
requests==2.32.3
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
setuptools==70.2.0
sh==2.0.7
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.5
sqlparse==0.5.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-intel==2.16.2
termcolor==2.4.0
translate==3.6.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
